<h1><%= @brand %></h1>
<ul>
<% @tweets.each do |tweet| %>
<li><%= tweet.message %></li>
<%= tweet.created_at.localtime.to_formatted_s(:long_ordinal) %>
Created <%= time_ago_in_words(tweet.created_at) %> ago
<% end %>
</ul>
